/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}  */

.App{
  text-align:center;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5%;

}



 /* .home {
  background-image: url('https://media.istockphoto.com/id/1250214711/photo/wooden-desk-and-books-with-library-background.jpg?s=612x612&w=0&k=20&c=FTMEDfijBMZau7xd0pp9sZDRxwlC5I_T9RzAIJS6VMA=');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #f5e8e8;
  font-size: 10rem;
  text-align: center;
   
}  */





















/* .h4{
  font-size: small;
} */


/* 
.sign-up {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
 */
























/* .services {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 3rem;
  
} */




/* .marketing {
  background-image: url('./images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url('./images/img-5.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */








/* .services,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
} */


/* .products {
  background-image: url('./images/img-3.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */
